html, body, #root, #app {
    width: 100%;
    margin: 0% !important;
}


.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container-mobile {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex:1;
}

#tsparticles {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}

h1, h2, h3, h4, h5, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



