#root {
    width: 100%;
}


#tsparticles {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}

h1, h2, h3, h4, h5, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

