.main-footer {
    height: 20vh;
    margin-top: 30px;
    width: 100%;
    bottom: 0;
    position: relative;
    border-top: solid 2px #ff4646;
    text-align: center;
    background-color: whitesmoke;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 4px;
}

.link-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icons {
    z-index: -2;
    font-size: 30px;
    color: #ff4646;
}